{% extends "guide/layout.html" %}

{% block title %}{{ area.name }}{% endblock %}

{% block body %}
<h2>{{ area.name }}</h2>
<h4><a href="{% url 'zones' %}">{{ area.zone }}</a></h4>


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Approach</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Map</button>
    </li>
</ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>{{ area.approach }}</p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% if area.map %}
            <img src="{{ area.map.url }}" width="100%">
            {% endif %}
        </div>
    </div>




<h2>Problems in this Area</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>

    <tbody>
        {% for problem in problems %}
        <tr>
            <td class="column_b">{{ problem.map_id }}</td>
            <td class="column_a" scope="row">
                <a href="{% url 'problem' problem.id %}">{{ problem.name }}</a>
            </td>
            <td class="column_b">V{{ problem.grade }}</td>
            <td class="column_d">{{ problem.avgrating }}</td>
        </tr>
        {% endfor %}   
    </tbody>
</table>



{% endblock %}